Django>=5.2
djangorestframework>=3.16
django-cors-headers>=4.7
djangorestframework-simplejwt>=5.5
dj-database-url>=2.3
psycopg[binary]>=3.2
python-dotenv>=1.0
Pillow>=11.0
cloudinary>=1.40
gunicorn>=23.0
whitenoise>=6.8
